name: comfyui

services:
  comfyui:
    build: .
    image: comfyui:latest
    container_name: comfyui
    ports:
      - "8188:8188"
    volumes:
      - ./app:/app
      - cache:/root/.cache
      # If you want you could create a symlink to E:/my_checkpoints at ./app/models/checkpoints
      #
      # If this setup is on disk C, you will have to share some of disk E to Docker:
      # Docker Desktop -> settings -> Resources -> File sharing
      # And add E:/my_checkpoints
      #
      # If you add some here, you will need to `docker compose up` again
      #
      # - E:/my_checkpoints:/app/models/checkpoints
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - YOLO_CONFIG_DIR=/app/user/default
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  cache:
